.tds-block-main{padding-bottom: 3.25rem; min-height: 629px;}
.wrapper{height:100vh !important; overflow-y: auto !important;}

.tds-trans-table td a{display:block}

.tran-time{white-space: nowrap;}

.block-list-tab{ 
    text-align: center;
    .d-hash{width: 200px; margin: 0 auto;}
}

.key-value-line1{max-width: 70%;}
.key-value-hash{display: inline-block; max-width: 80%; vertical-align: middle;}

/*详情*/
.detail-tab{
    padding:.75rem;font-size:16px;
    .lab{color:#1e2022;}
    .mess-icon{width:14px;height: 14px;display: inline-block; vertical-align: middle;
    background: url(../assets/img/icon_wh.png) center no-repeat; background-size: cover; -webkit-background-size: cover; margin-right:10px;}

    .detail-col{padding-left: 7.5px; padding-right: 7.5px;}

    .btncopy{display: inline-block; width:20px;height:20px; font-size:0px;
      background: url(../assets/img/icon_copy.png) center no-repeat; background-size:20px;-webkit-background-size:20px; vertical-align: middle; margin-left:12px;
    }
    .btncopy-suc{
        width: auto; padding-left: 18px;
        background: url(../assets/img/icon_suc.png) left center no-repeat; background-size:16px;-webkit-background-size:16px;
        font-size:14px;color: #8c98a4!important;
    }

}


/*点击地址*/
.address-transaction-main{
  .at-btn{width: 1.625rem;
    height: 1.625rem; display: inline-block; vertical-align: middle; margin-left:5px;
    border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;overflow:hidden;
    cursor: pointer;
    }
    .at-btn-copy{
        background:#EBEDF0 url(../assets/img/at_copyn.png) center  no-repeat;
        margin-left: 8px;
    }
    .at-btn-see{
        background:#EBEDF0 url(../assets/img/at_coden.png) center  no-repeat;
        em{display:block;width:100%;height:100%;}
    }
    .at-btn-copy:hover{
        background:#7B8895 url(../assets/img/at_copyh.png) center  no-repeat;
    }
    .at-btn-see:hover{    
        background:#7B8895 url(../assets/img/at_codeh.png) center  no-repeat;
    }

    .btn-copy-suc{
        background:#7B8895 url(../assets/img/icon_suc1.png) center  no-repeat;
    }
    .btn-copy-suc:hover{
        background:#7B8895 url(../assets/img/icon_suc1.png) center  no-repeat;
    }

    .com-table{
        .line1{display:block;}
    }

    .col-balance{text-align: right;}

    .transType{
      font-size: .60938rem;
      line-height: 1.7;
      width:30px;height:24px; display: block; text-align: center;
      font-weight:700;
      -moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;
    }

    .type-out{
      color: #b47d00;
      background-color: rgba(219,154,4,.2);
    }

    .type-in{
    color: #02977e;
       background-color: rgba(0,201,167,.2);
    }

}

#qrcode{
    text-align: center; width:235px;height:235px; margin: 0 auto;
    img{margin:0 auto;}
}


/*合约详情页面*/
.contract-hash-detail{
   .hr-space{margin:.5rem 15px}
   
}

.contract-tab-box{
    margin-top:1rem;
    
    .tab-nav{ height:44px; position: relative; border-bottom: 1px solid #e7eaf3;}
    .navbox{position: absolute; width:100%;height:45px;left:0px;bottom: -1px;}
    .tab-nav a{display:inline-block; line-height: 44px; height:44px;cursor: pointer; color:#505964 !important; font-size:0.8125rem;
    padding: 0 1rem;border-bottom: 2px solid transparent; position: relative;}

    .tab-nav a.active{color:#3498db !important;border-bottom:2px solid #3498db;}
    .s-verified{width:13px;height:13px;display:block; position: absolute; right:0px; top:.3rem;
       background: url(../assets/img/verified.png) center no-repeat;
    }
}


.contract-params{
  padding: .75rem;
  .param-title{color:#4a4f55; font-size:.8125rem; padding: .75rem 0; position: relative;}
  .param-col{padding-bottom:.2rem;}
  .param-col1{
      span{background: url(../assets/img/code1.jpg) left center no-repeat; padding-left: 20px;}
  }
  .param-col2{
    span{background: url(../assets/img/code2.jpg) left center no-repeat; padding-left: 20px;}
  }
  .param-col3{
    span{background: url(../assets/img/code3.jpg) left center no-repeat; padding-left: 20px;}
  }
  .param-col4{
    span{background:url(../assets/img/code4.png) left center no-repeat; padding-left: 20px;
    background-size:13px;-webkit-background-size:13px;}
  }
  
  .functionBox{
    position: absolute; right:0px; top:50%; margin-top: -15px; 
    overflow: hidden;
    .fun-btn{width:30px;height:30px;display:inline-block; vertical-align: middle;
        border-radius:3px;-webkit-border-radius:3px; -moz-border-radius:3px; position:relative;
        em{cursor: pointer; position: absolute;width:100%;height:100%;left:0px;top:0px;}
    }
    .fun-btn.copy{background:#77838f url(../assets/img/fuzhi.png) center no-repeat;}
    .fun-btn.qp{background:#77838f url(../assets/img/quanping.png) center no-repeat; margin-left:8px;} 
    .fun-btn.bp{background:#77838f url(../assets/img/banping.png) center no-repeat; margin-left:8px;} 
 }

}

/*验证合约*/
.contract-params-form{/*width:80%; margin:0 auto;*/}
.din-address{width:80%; border: 1px solid #e7eaf3;
    background-color: #f8f9fa; padding: .75rem;-webkit-border-radius:.35rem;-moz-border-radius:.35rem; border-radius:.35rem;
   input{border:0 none;background:0 none;font-size:0.8125rem; width: 100%;}
}
.verify-title{text-align: center; width:100%;}
.verify-title .pt{color:#4a4f55; font-size: 18px; margin-bottom: 0px; text-align: center; width:100%;}
.verify-title .pmess{color:#8c98a4; font-size: 12px; margin-bottom: 0px;padding-top:1px;}
.btn-vefify{float: right; padding:.5rem .75rem; color:#fff; font-size: 0.8125rem;}
